{% import '/macros/buttons.html.twig' as fap_macros %}

<div class="row text-right no-gutters mt-1 mb-1 fap-max-content">
<div class="col-md-auto pl-1 pr-1">
    {{ fap_macros.btn_link_edit( path('car_service_owners_edit', {'id': row.id} ) ) }}
</div>

<div class="col-md-auto pl-1 pr-1">
    {{ include('/owner/_delete_form.html.twig', { 'car_service_owners_delete': row }) }}
</div>
</div>
